h5py>=3.14.0
tables>=3.10.0
scikit-learn>=0.18.1
pandas>=0.21.1
seaborn>=0.7.1
matplotlib>=2.2.0
scipy>=0.17.1
numpy>=2.0.0
nilearn>=0.12.1
nibabel>=5.3.3
joblib>=1.5.3
imageio>=2.37.2
hypertools>=0.8.2
scikit-image>=0.24.0
requests
